@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js" />
	<link rel="stylesheet" href="~/css/sidebars.css">
	<link rel="stylesheet" href="~/css/buttons.css">
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">

	<script src="~/lib/jquery361/jquery.js"></script>
	<script src="~/lib/popper/umd/popper.js"></script>
	<script src="~/js/sidebars.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

	<script src="~/lib/FileSaver/FileSaver.js"></script>
	<script src="~/lib/js-xlsx/xlsx.core.min.js"></script>
	<script src="~/lib/jsPDF/polyfills.umd.js"></script>
	<script src="~/lib/jsPDF/jspdf.umd.min.js"></script>
	<script src="~/lib/jsPDF-AutoTable/jspdf.plugin.autotable.min.js"></script>
	<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
	<script src="~/lib/table-export/js/tableexport.min.js"></script>

	<script src="~/lib/bootstrap-table/extensions/print/bootstrap-table-print.min.js"></script>
	<script src="~/lib/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>




	<script src="~/lib/jquery-serializeJSON/jquery.serializejson.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


	<title>Dashboard</title>
</head>
<body class="d-flex flex-column h-100">

	<!--SIDENAV-->
	<div id="idsidebarToggleContent" class="wrapper d-flex align-items-stretch" style="height:100%">

		<div class="flex-shrink-0 p-3 col-sm-2" style="background-color:wheat;">
			<!--alternatif renk: lightsteelblue-->
			<a href="/Dashboard/Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none ">
				<img src="~/files/images/PMOSRS-logos_black.png" alt="PMOSRS-logo" height="auto" width="100%vw">
			</a>
			<ul class="list-unstyled ps-0">
				<li><hr /></li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#project-collapse" aria-expanded="true">
						Projeler
					</button>
					<div class="collapse show" id="project-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
							@*<li><a href="#" class="link-dark rounded">Proje Girişi</a></li>*@
							<li><a href="/Dashboard/Project" class="link-dark rounded">Proje Listesi</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#ts-collapse" aria-expanded="true">
						Teknik Şartnameler
					</button>
					<div class="collapse show" id="ts-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
							@*<li><a href="#" class="link-dark rounded">TŞ Girişi</a></li>*@
							<li>
								<a href="/Dashboard/TS" class="link-dark rounded">TŞ Listesi</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tid-collapse" aria-expanded="true">
						Teknik İsterler
					</button>
					<div class="collapse show" id="tid-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
							@*<li><a href="#" class="link-dark rounded">TID Girişi</a></li>*@
							<li><a href="/Dashboard/TID" class="link-dark rounded">TID Listesi</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#srs-collapse" aria-expanded="true">
						Yazılım Gereksinimleri
					</button>
					<div class="collapse show" id="srs-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
							@*<li><a href="#" class="link-dark rounded">SRS Girişi</a></li>*@
							<li><a href="/Dashboard/SRS" class="link-dark rounded">SRS Listesi</a></li>
						</ul>
					</div>
				</li>
				<li @*class="border-top my-3"*@><hr /></li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
						Genel Ayarlar
					</button>
					<div class="collapse show" id="account-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
							<li><a href="/Dashboard/Parameter" class="link-dark rounded">Parametre</a></li>
							@*<li><a href="#" class="link-dark rounded">Kullanıcı Tanımla</a></li>*@
							<li><a href="/Dashboard/User" class="link-dark rounded">Kullanıcı Listele</a></li>
							<li><a href="/Dashboard/Reports" class="link-dark rounded">Raporlar</a></li>
							@*<li><a href="#" class="link-light rounded bg-danger">Çıkış Yap</a></li>*@
						</ul>
					</div>
				</li>
			</ul>
		</div>


		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5 col-sm-10 wrapper flex-grow-1">
			<header class="header header-sticky mb-5 elevation-0 border-bottom">
				<div class="container-fluid wrapper flex-grow-1">
					<div class="d-flex flex-row-reverse bd-highlight">
						<button id="idLogOutBtn" class="btn btn-labeled btn-danger" href="#">
							<span class="btn-label"><i class="bi bi-box-arrow-left"></i></span> Çıkış Yap
						</button>
					</div>
				</div>
			</header>
			@RenderBody()
		</div>
	</div>



	<!--FOOTER-->
	<footer class="footer mt-auto py-3 bg-dark text-center text-white">
		<!-- Grid container -->
		<div class="container p-4 pb-0">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-facebook"></i>
				</a>

				<!-- Twitter -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-twitter"></i>
				</a>

				<!-- Google -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-google"></i>
				</a>

				<!-- Instagram -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-instagram"></i>
				</a>

				<!-- Linkedin -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-linkedin"></i>
				</a>

				<!-- Github -->
				<a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
					<i class="bi bi-github"></i>
				</a>
			</section>
			<!-- Section: Social media -->
		</div>
		<!-- Grid container -->
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2022 Copyright:
			<a class="text-white" target="_blank" href="https://www.arksoft.com.tr/">ARKSOFT</a> - <span class="text-white border-3">
				@ViewBag.v
			</span>
		</div>
	</footer>

</body>
</html>
