@{
	ViewData["Title"] = "Project";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">

	<div class="col-sm-10">
		<!-- Toolbar - Project Table Toolbar-->
		<div id="toolbar">
			<button id="idAddBtn" class="btn btn-primary btn-lg">Ekle</button>
			<button id="idEditBtn" class="btn btn-primary btn-lg" style="margin-left: 10px;">Güncelle</button>
			<button id="idDeleteBtn" class="btn btn-danger btn-lg" style="margin-left: 10px;">Sil</button>

		</div>

		<!-- Table - Project Table -->
		<table id="idProjectTable"
			   class="table table-bordered table-hover"
			   data-single-select="true"
			   data-click-to-select="true"
				data-sort-name="Name"
				data-sort-order="desc"
		data-search="true">
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true"></th>
					<th class="col" data-field="Id" data-sortable="true">ID</th>
					<th class="col" data-field="Name" data-sortable="true">Proje Adı</th>
					<th class="col" data-field="Description" data-sortable="true">Proje Açıklama</th>
				</tr>
			</thead>
			
		</table>

		<!-- Modal - Add, Update Modal -->
		<div id="idAddUpdateModal" class="modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Project</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="frmProject">
							<div class="mb-3">
								<input id="idIdFrm" name="Id" placeholder="Id" class="form-control form-control-lg" type="text" hidden />
							</div>

							<div class="mb-3">
								<label for="idNameFrm" class="form-label">İsim</label>
								<input id="idNameFrm" name="Name" placeholder="İsim" class="form-control form-control-lg" type="text" />
							</div>

							<div class="mb-3">
								<label for="idDescriptionFrm" class="form-label">Açıklama</label>
								<textarea id="idDescriptionFrm" name="Description" placeholder="Açıklama" class="form-control form-control-lg"></textarea>
							</div>


						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button id="idProjectSaveBtn" type="button" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {

		Listele();

		$("#idDeleteBtn").click(function() {
			var selectData = $("#idProjectTable").bootstrapTable("getSelections")[0];
			Sil(selectData.Id);
		});

		$("#idAddBtn").click(function() {
			var _object = { Id: "", Name: "", Description: "" };
			ObjectToForm(_object);
			$("#idAddUpdateModal").modal("show");
		});

		$("#idEditBtn").click(function() {
			var _object = $("#idProjectTable").bootstrapTable("getSelections")[0];
			ObjectToForm(_object);
			$("#idAddUpdateModal").modal("show");
		});

		$("#idProjectSaveBtn").click(function() {
			Save();
			$("#idAddUpdateModal").modal("hide");
		});
	});

	// Listele - Listeleme işlemi yapar
	function Listele() {
		$.ajax({
			url: "https://localhost:5001/API/Project/List",
			//data: JSON.stringify(dt),
			type: 'Get',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			async: false,
			success: function(result) {
				$("#idProjectTable").bootstrapTable('load', result.Data);
				$("#idProjectTable").bootstrapTable({ data: result.Data });
			}
		});
	}
	// Sil - Silme işlemi yapar
	function Sil(Id) {
		$.ajax({
			url: "https://localhost:5001/API/Project/Remove?Id=" + Id,
			//data: JSON.stringify(dt),
			type: 'Get',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			async: false,
			success: function(result) {
				Listele();
			}
		});
	}
	// Save - Ekleme ve güncelleme işlemi yapar
	function Save() {
		var dt = JSON.stringify($("#frmProject").serializeJSON());
		var _url = "https://localhost:5001/API/Project/Add";

		if ($("#idIdFrm").val() != "") {
			_url = "https://localhost:5001/API/Project/Update";
		}

		$.ajax({
			url: _url,
			data: dt,
			type: 'Post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			async: false,
			success: function(result) {
				Listele();
			}
		});
	}

	// ObjectToForm - Gönderilen nesneyi form elementlerine setler
	function ObjectToForm(obj) {
		$("#idIdFrm").val(obj.Id);
		$("#idNameFrm").val(obj.Name);
		$("#idDescriptionFrm").val(obj.Description);
	}
</script>